@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: #001F54;
  --lightBlue: #0078D7;
  --white: #ffffff;
}

body {
  font-family: "Outfit", sans-serif;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #1e3352;
  text-stroke: 2px #1e3352;
}
 